body {padding: 0; margin: 2em 8%; color:#444; background-color: #eee;}
.top {background-color: #844; border-top-left-radius: 35px; border-bottom-right-radius: 35px; padding: 15px 0; height: 200px; color: #fdc;}
.top span {font-size: 5.6em; font-variant: small-caps; font-family: "Trebuchet MS", Georgia; padding: 0; margin: 0 35px;}
.top p {padding: 0; margin: 0 35px; font-family: Georgia; font-weight: bold; padding-left: .2em;}
.top hr {height: 8px; background-color: #fdc; margin-top: 20px; border-color: transparent; margin: 20px 0px 0px 35px;}
.top hr + hr {margin-top: 10px;}
.gists > noscript > div {background-color: #ffa; height: 8em; font-size: 2em; padding: 1em; text-align: center; margin: 1em 0;}
.files > div {padding-top: .1em; }
.files > div > a:link, .files >div > a:visited, .files div > a:active { color:#500;}
.files > div > a {margin-left: .7em; font: normal 1em Georgia; letter-spacing: .3ex; line-height: 2em; padding: 3px 6px; background-color: #fdc; text-decoration: none;}
div.gist-post > h1 {padding-top: 20px; margin-top: 25px; margin-bottom:10px;  border-top: 22px groove #fdc;}
.file > .wikistyle {padding: 0 .7em;}
.file > .gist {margin: 0.1em 0.7em 0;}
.file > .gist > .gist-file {margin-bottom: .7em;}
.bottom {
  color: #fdc;
  margin-top: 1.5em;
  background-color: #844; height: 6em; 
  font: normal small-caps normal 1.5em "Trebuchet MS", Georgia;
  padding: 1.5em 3em ;
}

